.sidebox{
    width: 280px;
}
.sidebar{
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.navbar{
    position: sticky;
    top: 0;
    height: 100%;
}
.br{
    width: 80%;
}

#navbar
{
    background-color: aqua;
}
#sidebar
{
    background-color: aqua;
}