
#auth {
    max-width: 500px;
   
}

.input-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.login {
    position: absolute;
    margin-left: -200px;
  /* -1/2 width */
    top: 20%;
    left: 50%;
}